[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "doxa-solidity/lib/forge-std"]
	path = doxa-solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
